.v-main {
  padding: 20px 0px 0px !important;
}

h1 {
  color: $color-white;
  font-family: "BundayClean-Bold";
}

.v-chip.v-size--default {
  margin-right: 5px;
  width: 130px;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "BundayClean-SeBoldUp";
}

.v-dialog > .v-card > .v-card__actions {
  padding: 18px;
}

.v-dialog {
  font-family: "BundayClean-SeBoldUp";
}

.v-application .text-h5 {
  font-family: "BundayClean-SeBoldUp" !important;
}
