@font-face {
  font-family: BundayClean-Bold;
  src: local("BundayClean-Bold"),
    url("@/assets/fonts/BundayClean-Bold.otf") format("opentype");
}

@font-face {
  font-family: BundayClean-SeBoldUp;
  src: local("BundayClean-SeBoldUp"),
    url("@/assets/fonts/BundayClean-SeBoldUp.otf") format("opentype");
}

@font-face {
  font-family: BundayClean-SeLighUpIt;
  src: local("BundayClean-SeLighUpIt"),
    url("@/assets/fonts/BundayClean-SeLighUpIt.otf") format("opentype");
}

@font-face {
  font-family: BundayClean-ThinIt;
  src: local("BundayClean-ThinIt"),
    url("@/assets/fonts/BundayClean-ThinIt.otf") format("opentype");
}
