/* Breakpoints */
$small: 440px;
$s-medium: 570px;
$medium: 761px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;

/*  colors  */
$color-green: #9dcb4f;
$color-purple: #b97fc9;
$color-orange: #fd7d24;
$color-blue-1: #0ca0ce;
$color-blue-2: #00a8fa;

$color-black: #293032;
$color-gray-1: #8f8f91;
$color-gray-2: #f2f2f2;
$color-white: #ffffff;
