.cardList {
  &__backgroundImg {
    background-color: $color-gray-2;
  }
  p {
    margin-bottom: 0;
    padding: 5px 16px;
    color: $color-gray-1;
    font-family: 'BundayClean-SeBoldUp';
  }
  .v-card__title {
    padding: 10px 15px 0;
    font-size: 2.25rem;
    font-family: "BundayClean-Bold";
  }

  .v-card__title + .v-card__subtitle,
  .v-card__title + .v-card__text {
    padding-top: 16px;
  }
}
