.cardDetail {
  h6 {
    color: $color-white;
    font-size: 14px;
    font-family: "BundayClean-SeBoldUp";
  }

  span {
    color: $color-black;
    font-size: 18px;
    font-family: "BundayClean-SeBoldUp";
  }
}
