@import "../../views/ListPokemon/ListPokemon.scss";
@import "../../views/DetailPokemon/DetailPokemon.scss";
@import "../../components/CardDetail/CardDetail.scss";
@import "../../components/CardList/CardList.scss";
